<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantezeApp"
        tools:targetApi="31">
        <activity
            android:name=".Track.ecoGaugeBreakdown"
            android:exported="false" />
        <activity
            android:name=".Track.Gauge"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarTrack"
            android:exported="false" />
        <activity
            android:name=".Track.Tracker"
            android:exported="false" />
        <activity
            android:name=".UserLogin.ConfirmationSignupPage"
            android:exported="false" />
        <activity
            android:name=".UserLogin.LoginAccountPage"
            android:exported="false" />
        <activity
            android:name=".Track.ShoppingItems.Other"
            android:exported="false" />
        <activity
            android:name=".Track.ShoppingItems.Bills"
            android:exported="false" />
        <activity
            android:name=".Track.ShoppingItems.Electronics"
            android:exported="false" />
        <activity
            android:name=".Track.ShoppingItems.Clothing"
            android:exported="false" />
        <activity
            android:name=".Track.TransportationTypes.Flight"
            android:exported="false" />
        <activity
            android:name=".Track.TransportationTypes.Walking"
            android:exported="false" />
        <activity
            android:name=".Track.TransportationTypes.PublicTransportation"
            android:exported="false" />
        <activity
            android:name=".Track.TransportationTypes.PersonalVehicle"
            android:exported="false" />
        <activity
            android:name=".Track.Transportation"
            android:exported="false"
            android:theme="@style/Theme.PlantezeApp" />
        <activity
            android:name=".Track.Shopping"
            android:exported="false" />
        <activity
            android:name=".Track.FoodConsumption"
            android:exported="false" />
        <activity
            android:name=".Track.Track"
            android:exported="false" />
        <activity
            android:name=".UserLogin.RegisterAccountPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UserLogin.WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>